h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 400;
}
h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.descr {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
.cont {
  display: flex;
  justify-content: center;
}
nav {
  display: flex;
  justify-content: center;
  background-color: #f3f3f3;
}
.link {
  padding: 10px 40px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.nav{
  margin: 20px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  border: none;
  padding: 10px;
  background-color: #f3f3f3;
}
.showButton {
  border: none;
  background-color: white;
  color: gray;
  font-family: 'Open Sans', sans-serif;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product-card {
  padding: 2%;
  width: 400px;
}
.chooseButton {
  border: none;
  padding: 10px;
  margin: 0px 10px 0px 10px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}
.one {
  background-color: whitesmoke;
  color: black;
}
.two {
  background-color: black;
  color: white;
}
.three {
  background-color: rgb(141, 176, 141);
  color: white;
}
.fotoAbout {
  margin: 7px 20px 0px 0px;
  width: 450px;
  height: 100%;
}

.textAbout {
  margin: 7px;
  font-family: 'Open Sans', sans-serif;
  width: 500px;
  text-align: justify;
  line-height: 200%;
}
p{
  font-family: 'Open Sans', sans-serif;
  line-height: 150%;
}
.contContact {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 50px;
}
.line {
  border-bottom: 1px solid black;
}
.imgHome {
  width: 800px; 
  height: 500px;
}

@media all and (max-width: 800px)  {
  .imgHome {
    width: 500px; 
    height: 300px;
  }
  .fotoAbout {
    width: 300px;
  }
}
  @media all and (max-width: 500px)  {
    .imgHome {
      width: 300px; 
      height: 200px;
  }
  .fotoAbout {
    width: 200px;
  }
  .link {
    padding: 10px 20px;
  }
}